*{
	box-sizing: border-box;
	font-family: sans-serif;
}
#div{
	margin:10px;
}
#h1{
	text-align:center;
	margin-bottom: 20px;	
}
section{
	border: 1px solid black;
	background-color: grey;
	padding: 0;
	margin: 0px;
	margin-bottom: 2px;
}
h3{ 
	font-size: 16px;
	border: 1px solid black;
	width: 130px;
	text-align: center;
	float: right;
	margin: 0;
}
p{
	font-size: 13px;
	clear: right;
	padding: 10px;
}
#h3_1{
	background-color: blue;
}
#h3_2{
	background-color: yellow;
}
#h3_3{
	background-color: green;
}
@media(min-width: 992px){
	section{
		width: 33%;
		float: left;
	}
	#section1,#section2{
		margin-right: 2px;
	}
}
@media(min-width: 768px) and (max-width: 991px) {
	#section1,#section2 {
		width: 50%;
		float: left;
	}
	#section3{
		width: 100%;
	}
}